/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
* {
  font-family: 'Inter', 'proxima-nova', 'Verdana', 'Times New Roman', Times,
    serif;
}

.card-img-top {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}

.clr-primary {
  background-color: #fcfbf9;
}

.clr-secondary {
  background-color: #ffc9bd;
  /* background-color: lightpink; */
}

.clr-text {
  color: rgb(41, 41, 67);
}

.clr-bg-text {
  color: #fcfbf9;
}
