.primary {
  color: black;
}

.secondary {
  color: #426b1f;
}

.secondary-bg {
  background-color: #426b1f;
}

.tertiary-bg {
  background-color: #fafaf5;
}

.cursor-pointer {
  cursor: pointer;
}

.active-card {
  box-shadow: inset 0 0 0 4px #01fe1a;
}

.active-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #01FE1A;
  border-radius: 29px;
  pointer-events: none; /* Ensures that the pseudo-element doesn't interfere with click events */
  z-index: 1; /* Ensures that the outline is in the foreground */
}

.active-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #01FE1A;
  border-radius: 29px;
  pointer-events: none;
  z-index: 1;
}

label.required::after {
  content: '*';
  color: red;
  margin-left: 4px; /* Adjust the spacing between the label text and the asterisk */
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.calendar {
  width: 300px;
  max-width: 100%;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.react-calendar__navigation {
  background: #426b1f; /* Blue color for navigation */
  border-radius: 10px 10px 0 0;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff; /* White color for navigation buttons */
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  opacity: 0.8;
}

.react-calendar__navigation button[disabled] {
  cursor: not-allowed;
}

.react-calendar__tile {
  padding: 0.75rem;
  font-size: 14px;
  border-radius: 50%;
}

.react-calendar__tile--now {
  background-color: #426b1f; /* Blue color for current day */
  color: #fff;
}

.react-calendar__tile--active {
  background-color: #f0f0f0; /* Light gray color for selected day */
}

/* Range selection styling */
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #d6e4ff; /* Light blue color on hover for range selection */
}
